/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width: 10px;
$container-large-desktop: 965px;
$font-family: "Cuprum";
$break-small: 628px;


/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";



/*************************************************
BODY STYLING
*************************************************/



body {
  background-color: rgb(62, 62, 64);
}




/*************************************************
HEADER ELEMENTS
*************************************************/



header {
  background-image: url(../images/red-hook.jpg);
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
  height: 350px;
  text-align: center;

  &::before {
    content: "";
    background-color: rgba(225, 225, 225, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.header-logo {
  background-image: url(../images/rabbit.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 210px;
  width: 200px;
  display: inline-block;
  margin-top: 18px;


  h1 {

    position: relative;
  }
}

.swamp-cyc {
  font-family: "Arimo";
  font-size: 3.5em;
  font-weight: 200;
  color: rgb(237, 237, 237);
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: rgba(20, 20, 20, .7);
  @media screen and (max-width: $break-small){
    font-size: 35px;
  }
}




/*************************************************
FIRST ANNOUNCEMENT
*************************************************/


.bringing {
  // margin-top: px;

  .ann {
    font-size: 1.875em;
    background-color: rgb(151, 151, 155);
    padding: 28px 48px;
    height: 150px;
    text-align: center;
    color: rgb(62, 62, 64);
    @media screen and (max-width: $break-small){
      font-size: 22px;
    }
  }

}



/*************************************************
BICYCLE OPTIONS
*************************************************/



.featured-bikes {
  height: 300px;
  // margin-top: 10px;

  .bike-1 {
    background-image: url(../images/roma-red.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
  }

  .bike-2 {
    background-image: url(../images/contender.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
  }

  .bike-3 {
    background-image: url(../images/undefeated.jpeg);
    background-position: center;
    background-size: cover;
    height: 300px;
  }
}




/*************************************************
SECOND ANNOUNCEMENT
*************************************************/



.ann-content {
  margin-top: 10px;

  .ann-con {
    height: 180px;
    background-color: rgb(151, 151, 155);
    text-align: center;
    font-size: 1.563em;
    padding-top: 27px;
    padding-left: 65px;
    padding-right: 65px;
    color: rgb(62, 62, 64);
    @media screen and (max-width: $break-small){
      font-size: 19px;
      padding-top: 10px;
    }
  }

}



/*************************************************
CONTACT US ELEMENTS
*************************************************/



.contact-content {
  height: 350px;
  background-color: rgb(195, 195, 201);
  text-align: center;
  color: rgb(85, 85, 89);

  .visit {
    font-size: 1.563em;
    padding-top: 45px;
    padding-left: 55px;
    padding-right: 55px;
    // color: rgb(195, 195, 201);
    // background-color: rgb(85, 85, 89);
    @media screen and (max-width: $break-small){
      font-size: 22px;
    }

  }

  .number {
    font-size: 1.250em;
    font-weight: bold;
    padding-top: 45px;

  }

  .email {
    font-size: 1.250em;
    font-weight: 600;
    padding-top: 45px;
  }
}



/*************************************************
FOOTER ELEMENTS
*************************************************/



.copy {
  height: 89px;
  background-color: rgb(85, 85, 89);
  margin-top: 10px;

  .copy-content {
    font-size: 1.563em;
    text-align: center;
    color: rgb(151, 151, 155);
    padding-top: 28px;
    letter-spacing: 2px;
    @media screen and (max-width: $break-small){
      font-size: 22px;
      padding-top: 10px;
    }


  }
}
